.switch {
    background: #629290;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    width: 4rem;
    transition: all 2000ms ease;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 32px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    /* -webkit-transition: .3s ease all; */
    /* transition: .3s ease all; */
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
    background: var(--overline);
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.light-position {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    padding: 2rem;
    bottom: 0;
}