<div class="center-content">
    <div>
        <h1 class="arrow">¿Quién soy?</h1>
        <p class="text-description more-info">
            Soy <strong class="strong">David Trejo</strong>, realicé mis estudios de Ingeniería Informática en la Universidad de Salamanca, decidí decantarme por esta profesión por la <strong class="strong"> creatividad, diversidad, belleza y elegancia </strong>            que puede haber a la hora de buscar soluciones cuando se quiere afrontar un problema.
            <br> Adicionalmente, no suelo pensar que algo es imposible, esto me ha ayudado en aprender muy bien lo que tengo por conocimientos, no puedo mencionar que tengo talento, más bien lo define mi <strong class="strong">constancia</strong>. <br>            Amante de la buena <a href="https://www.youtube.com/channel/UC9FeUeG4QLI99Ius1gsyKQg" target="_black" class="overline">música</a> y de la comida. Me encanta hacer deporte y superarme cada día.
        </p>
    </div>
    <div class="mt-5">
        <h1 class="arrow">Trayectoria profesional</h1>
        <app-timeline></app-timeline>
    </div>
    <div class="mt-5">
        <h1 class="arrow">Descargar mi Curriculum Vitae</h1>
        <p class="m-2 more-info">Puedes descargar mi Curriculum Vitae en formato PDF haciendo <a href="{{cv}}" target="_black" class="overline">click</a> en el siguiente botón.</p>
        <button class="button mt-2">
            <a class="center-content h-100 w-100" href="{{cv}}" target="_black">Descargar CV</a>       
          </button>
    </div>
    <div>

    </div>
</div>