<div *ngIf="!loading" class="sk-bounce center-content mx-auto">
  <div class="double-bounce1 sk-bounce-dot"></div>
  <div class="double-bounce2 sk-bounce-dot"></div>
</div>
<div
  class="center-content w-100 mb-4 animate__animated animate__fadeIn"
  *ngIf="loading"
>
  <div class="content-trick">
    <div class="mb-3">
      <button class="btn button center-content d-flex" routerLink="/cheatsheet">
        <span class="material-icons"> arrow_back </span>
        Atrás
      </button>
    </div>
    <div
      *ngIf="markdown.length === 0"
      class="center-content animate__animated animate__fadeIn"
    >
      <span class="more-info">No se ha encontrado ningún truco.</span>
    </div>
    <div class="center-content flex-column color-trick home-text mt-4">
      <markdown
        class="w-100"
        [data]="markdown"
        (load)="onLoad($event)"
        (error)="onError($event)"
        lineNumbers
        ngPreserveWhitespaces
      ></markdown>
    </div>
  </div>
</div>
