.set-navbar {
    color: var(--letter);
}

.navbar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-scroll {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    border: none;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    height: 2rem;
    width: 2rem;
}

div>ul>li>a {
    margin: 1rem 2rem 1rem 2rem;
    text-decoration: none;
    color: var(--text-color-navbar);
}

div>ul>li>a:hover {
    color: var(--hover);
    transition: .3s;
    transform: scale(1.3);
}

.logo:hover {
    transition: .3s;
    transform: scale(1.3);
}

.active {
    color: var(--hover) !important;
    transition: .3s;
    transform: scale(1.3);
}

.drop-down-menu .drop-down-button {
    font-size: 1.2rem;
    background-color: inherit;
}

.drop-down-menu-content {
    display: none;
    position: absolute;
    min-width: 11rem;
    box-shadow: -1px 1rem 3rem 0px rgb(57 95 114);
    z-index: 1;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 1);
}

.drop-down-menu-content a {
    float: none;
    color: white;
    padding: 1rem 1rem;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.5);
    transform: scale(1);
    cursor: pointer;
}

.drop-down-menu-content a:hover {
    background-color: var(--strong);
    border-radius: 1rem;
    transform: scale(1);
}

.active-dropdown {
    background-color: var(--strong) !important;
}

.drop-down-menu:hover .drop-down-menu-content {
    display: block;
}

.drawer {
    font-size: 1rem;
    color: white;
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid .1rem white;
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

.emoji {
    font-style: normal;
    justify-content: flex-end;
    width: 100%;
    display: flex;
}

@media (max-width: 990px) {
    a>img {
        display: none;
    }
    .set-navbar {
        display: flex;
    }
    div>ul>li>a {
        margin: 1rem;
    }
    .navbar-scroll-br {
        border-bottom: 1px #ffffff57 solid;
        width: 50%;
        text-align: center;
    }
    .drop-down-menu:hover .drop-down-menu-content {
        display: contents;
    }
}