<div *ngIf="!loading" class="sk-bounce center-content mx-auto">
  <div class="double-bounce1 sk-bounce-dot"></div>
  <div class="double-bounce2 sk-bounce-dot"></div>
</div>
<div class="carousel" *ngIf="loading"  data-aos="fade-left">
  <div class="carousel-items">
    <div
      *ngFor="let project of projects"
      class="chat-bubble center-content flex-column"
      [class.open-project]="stopCarousel && project._id === projectSelected"
      style="--rotation: {{ project.rotation }}deg"
    >
      <div class="w-100 h-100">
        <img
          class="card-img-top img-card"
          src="{{ project?.img }}"
          (click)="selectProject(project?._id ?? ''); update();"
          [alt]="project?.title"
        />
      </div>
      <div class="p-3 w-100 h-100">
        <div class="content">
          <h3 class="d-flex justify-content-center">
            {{ project.title }}
          </h3>
        </div>
        <div class="subtitle">
          <div class="subtitle_text">{{ project.subtitle }}</div>
          <div *ngIf="project._id === projectSelected && stopCarousel" class="subtitle_text">{{ project?.description }}</div>
          <div class="shared-project">
            <div *ngIf="project.drive?.length != 0">
              <a
                href="{{ project?.drive }}"
                target="_black"
                class="center-content button-project drive"
              >
                <span class="icon material-icons-outlined center-content gap-1">
                  insert_drive_file
                  <p class="m-0" style="font-size: 14px">Google Drive</p>
                </span>
              </a>
            </div>
            <div *ngIf="project.github?.length != 0">
              <a
                href="{{ project?.github }}"
                target="_black"
                class="center-content button-project github"
              >
                <span class="icon center-content gap-1">
                  <i class="fab fa-github"></i>
                  <p class="m-0" style="font-size: 14px">Github</p>
                </span>
              </a>
            </div>
            <div *ngIf="project.web?.length != 0">
              <a
                href="{{ project?.web }}"
                target="_black"
                class="center-content button-project web"
              >
                <span class="icon material-icons-outlined center-content gap-1">
                  language
                  <p class="m-0" style="font-size: 14px">Web</p>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation"></div>
  <div class="arrow-left" (click)="arrowLeft()">
    <i class="fa fa-chevron-left"></i>
  </div>
  <div class="arrow-right" (click)="arrowRight()">
    <i class="fa fa-chevron-right"></i>
  </div>
</div>
