<footer>
    <div class="center-content mt-4">
        <p>Autor:
            <a href="https://www.instagram.com/nano_trejo/">@nanotrejo</a></p>
        <p><a href="mailto:nanotrejo@gmail.com">nanotrejo@gmail.com</a></p>
    </div>
    <div class="center-content">
        <a href="https://www.linkedin.com/in/david-trejo-fern%C3%A1ndez-191b95182/" target="_blank" class="social-link w-inline-block"><img src="https://assets.website-files.com/60300fc89b79e83d746ea188/60300fc89b79e8a4e46ea2cf_LinkedIn.svg" alt="" class="social-link-icon"></a>
        <a href="https://twitter.com/Nanotrejo" target="_blank" class="social-link w-inline-block"><img src="https://assets.website-files.com/60300fc89b79e83d746ea188/60300fc89b79e80fbf6ea2cb_Twitter.svg" alt="" class="social-link-icon"></a>
        <a href="https://github.com/Nanotrejo" target="_blank" class="social-link w-inline-block"><img src="https://assets.website-files.com/60300fc89b79e83d746ea188/60300fc89b79e8fbf66ea2c8_Github.svg" alt="" class="social-link-icon"></a>
    </div>
</footer>