<footer>
    <div class="center-content mt-4">
        <p>Autor:
            <a href="https://www.instagram.com/nano_trejo/">@nanotrejo</a></p>
        <p><a href="mailto:nanotrejo@gmail.com">nanotrejo@gmail.com</a></p>
    </div>
    <div class="center-content">
        <a href="https://www.linkedin.com/in/david-trejo-fern%C3%A1ndez-191b95182/" target="_blank" class="social-link w-inline-block icon-set"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/Nanotrejo" target="_blank" class="social-link w-inline-block"><i class="fab fa-twitter icon-set"></i></a>
        <a href="https://github.com/Nanotrejo" target="_blank" class="social-link w-inline-block"><i class="fab fa-github icon-set"></i></a>
    </div>
</footer>