@font-face {
    font-family: Graphik;
    src: url(assets/font/Graphik-Font-Family/GraphikMedium.otf);
}

:root {
    --background-navbar: black;
    --letter: white;
    --hover: white;
    --text-color-navbar: rgba(255, 255, 255, 0.74);
    --card-hover: rgb(136, 170, 184, 0.2);
    --text-light: #8dda7a;
    --overline: #00df9a;
    /* Light */
    --letter-light: rgba(0, 0, 0, 0.74);
    --hover-light: black;
    --background: #3A6073;
    --background-gradient: #16222A;
    --error: #df0025;
    --background-light-gradient: #fff;
    --background-light: #3A6073;
    --background-light-navbar: #3a607363;
    --overline-light: #00ffae;
    --text-light-description: rgba(70, 70, 70);
    --text-light-info: rgba(70, 70, 70);
}

* {
    font-family: Graphik, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--background-gradient);
    background: -webkit-linear-gradient(to right, var(--background), var(--background-gradient));
    background: linear-gradient(to right, var(--background), var(--background-gradient));
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.snackbar-success {
    background: var(--overline);
    color: var(--letter);
    font-size: 15px;
    font-weight: bold;
}

.snackbar-error {
    background: var(--error);
    color: var(--letter);
    font-size: 15px;
    font-weight: bold;
}

.mat-simple-snackbar-action button {
    color: var(--letter);
}

body.light {
    background: var(--background-light-gradient);
    background: -webkit-linear-gradient(to right, var(--background-light), var(--background-light-gradient));
    background: linear-gradient(to right, var(--background-light), var(--background-light-gradient));
}

body.light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

body.light .set-navbar {
    /* background: var(--background-light-navbar); */
}

body.light .active {
    color: var(--hover-light)!important;
}

body.light .nav-link {
    color: var(--letter-light) !important;
}

body.light .overline {
    color: var(--overline-light);
}

body.light .home-text {
    color: var(--letter-light);
}

body.light .home-text-description {
    color: var(--text-light-description);
}

body.light .text-info {
    color: var(--text-light-info) !important;
}

body.light .social-link {
    color: var(--letter-light);
    opacity: 0.8;
}

body.light .more-info,
body.light .arrow {
    color: var(--letter-light);
}

body.light .icon-set {
    color: var(--text-light-info);
}

body.light .icon-set:hover,
body.light .social-link:hover {
    color: var(--letter-light);
    opacity: 1;
    z-index: 1;
}