<div class="container">
    <div class="grid-container">
        <div class="card effect-link">
            <div class="icon-card">
                <mat-icon class="animate__animated animate__backInUp"> <span class="icon material-icons-outlined">
                        insert_drive_file
                        <p style="font-size: 14px;">
                            Google Drive
                        </p>
                        </span>
                </mat-icon>
            </div>
            <img class="card-img-top img-card" src="../../../../assets/img/test.jpg" alt="HealthCare">
            <div class="card-body">
                <h5 class="card-title">HealthCare</h5>
                <p class="card-text">Proyecto fin de carrera</p>
            </div>
        </div>

        <div class="card effect-link">
            <div class="icon-card">
                <mat-icon class="animate__animated animate__backInUp"> <span class="icon material-icons-outlined">
                        insert_drive_file
                        <p style="font-size: 14px;">
                            Google Drive
                        </p>
                        </span>
                </mat-icon>
            </div>
            <img class="card-img-top img-card" src="../../../../assets/img/test.jpg" alt="HealthCare">
            <div class="card-body">
                <h5 class="card-title">HealthCare</h5>
                <p class="card-text">Proyecto fin de carrera</p>
            </div>
        </div>


    </div>