    .home {
        text-align: center;
        color: var(--letter);
        font-size: medium;
        font-weight: bold;
        line-height: 2rem;
    }
    
    .home-text {
        font-weight: bold;
        line-height: 4rem;
    }
    
    .home-text-description {
        font-size: large;
        color: rgba(177, 174, 174, 0.705);
    }
    
    .img {
        width: 40%;
        border-radius: 10rem;
    }
    
    .overline {
        margin: 2rem;
        color: #00df9a;
        font-size: 22px;
        /* line-height: 15px; */
        font-weight: 500;
        letter-spacing: 15px;
        text-transform: uppercase;
        text-align: center;
    }