<div>
    <section id="home">

        <div class="container" style="margin-top: 10%;">
            <div class="home">
                <div class="overline mb-large animate__animated animate__fadeInLeftBig presentation">
                    Hola mundo
                </div>
                <div class="presentation mb-2">
                    <h1 class="home-text">
                        David Trejo Fernández
                        <br>
                        <span>
                    Soy
                    <span class="typewriter"></span>
                        </span>
                        <br>
                        <span class="home-text-description">Bienvenid@ a mi página web.</span>
                    </h1>
                </div>

                <div class="presentation-img">

                    <app-card-flip style="width: 100%;">
                        <card-flip-front>
                        </card-flip-front>
                        <card-flip-back>
                        </card-flip-back>
                    </app-card-flip>

                </div>
            </div>
        </div>
    </section>

    <section id="project" class="project">
        <div class="container"></div>
        <div class="overline mb-large">
            Proyectos
        </div>
        <app-project></app-project>
    </section>

    <section id="about">
        <div class="overline mb-large">
            Acerca
        </div>
        <app-about></app-about>
    </section>

    <section id="contact" class="contact">
        <div class="overline mb-large">
            Contacto
        </div>
        <app-contact></app-contact>

    </section>
</div>