<div class="container">
    <section id="home">

        <div class="container">
            <div class="overline mb-large animate__animated animate__fadeInLeftBig">
                Hola mundo
            </div>
            <div class="home">
                <h1 class="home-text">
                    Soy David Trejo.
                    <br>
                    <span>
                    Soy
                    <span class="typewriter"></span>
                    </span>
                    <br>
                    <span class="home-text-description">Bienvenid@ a mi página web.</span>
                </h1>
                <div>
                    <img class="img animate__animated animate__backInRight" src="assets/img/nanotrejo.jpg" alt="nanotrejo">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div id="project" class="container" style="margin-top: 20rem;"></div>
        <div class="overline mb-large">
            Proyectos
        </div>
    </section>
</div>