<footer>
    <div class="center-content mt-4">
        <h1 class="social-link">Autor:
            <a href="https://www.instagram.com/nano_trejo/" class="social-link" target="_blank">@nanotrejo</a>
            <a href="mailto:nanotrejo@gmail.com" class="social-link" target="_blank">@nanotrejo@gmail.com</a>
        </h1>
    </div>
    <div class="center-content">
        <a href="https://www.linkedin.com/in/david-trejo-fern%C3%A1ndez-191b95182/" target="_blank" class="social-link w-inline-block icon-set"><i class="fab fa-linkedin" loading="lazy"></i></a>
        <a href="https://twitter.com/Nanotrejo" target="_blank" class="social-link w-inline-block icon-set"><i class="fab fa-twitter" loading="lazy"></i></a>
        <a href="https://github.com/Nanotrejo" target="_blank" class="social-link w-inline-block icon-set"><i class="fab fa-github" loading="lazy"></i></a>
    </div>
</footer>