footer {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 120px;
    bottom: 0;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

h1,
p {
    color: var(--text-color-navbar);
    font-size: 12px;
}

a {
    text-decoration: none;
    color: var(--letter);
    font-size: 12px;
    padding: 1rem;
    opacity: 0.6;
    cursor: pointer;
    z-index: 1;
}

a:hover {
    opacity: 1;
}

.icon-set {
    font-size: 1.5rem;
}

.social-link {
    z-index: 1;
}